<mat-card>
    <mat-card-title>Welcome to Aporo </mat-card-title>
    <mat-card-content>
      <p> 
        At Aporo, we're more than just another computer systems design and consulting services company.
        We're dedicated problem solvers, redefining the world of technology to help businesses of all sizes
        navigate the ever-changing landscape of this fast-paced industry.
        Based in the sunny shores of Miami, Florida, we've helped clients around the world
         - from the bustling streets of San Francisco to the mountains of Northern Italy, and the vibrant
        cosmopolitan cities like Buenos Aires and Madrid. No matter where you are, 
        our team of experts brings years of experience and a fresh perspective to each project,
         delivering innovative and effective solutions that help you achieve your goals.
         We believe technology should be accessible to everyone, which is why we offer a wide range of services tailored to meet your unique needs.
        From web design, apps, project management, and beyond, we're here to help your business thrive.
        
        At Aporo, we don't just think outside the box - we innovate it. 
        We take pride in working with companies that share our commitment to innovation, 
        and we're excited to help businesses like yours stay ahead of the curve by offering unique and effective solutions.

        So why choose Aporo? 
        Because we're not just another consulting firm - we're a partner in your success. 
        Contact us today to learn more about how we can help your business grow and thrive.</p>
    </mat-card-content>
  </mat-card>
  
