  <section class="about-container">
    <div class="about-content" >
      <h1>About Aporo</h1>
      <p class="intro-text">
        <!-- more concise option -->
        We are an experienced team of web developers and designers,
         dedicated to delivering high-quality websites and applications 
         for businesses of all sizes. Our expertise ranges from front-end 
         development to back-end programming and user interface design to 
         database management. As problem solvers, we redefine the world of 
         technology to help our clients navigate the ever-changing landscape 
         of this fast-paced industry. Based in sunny Miami, Florida, 
         we have helped clients worldwide. Our team of experts brings years of
          experience and a fresh perspective to each project, delivering imaginative
           and effective solutions that help you achieve your goals.
           </p>
        <!-- We are a team of experienced web developers and designers, 
        dedicated to delivering high-quality websites and applications for our clients.
         Our expertise ranges from front-end development to back-end programming, 
         from user interface design to database management. 
         At Aporo, we're more than just another computer systems design and consulting services company.
         We're dedicated problem solvers, redefining the world of technology to help businesses of all sizes
         navigate the ever-changing landscape of this fast-paced industry.
         Based in the sunny shores of Miami, Florida, we've helped clients around the world
          - from the bustling streets of San Francisco to the mountains of Northern Italy, and the vibrant
         cosmopolitan cities like Buenos Aires and Madrid. 
         No matter where you are, our team of experts brings years of experience and a fresh perspective to each project,
          delivering imaginative and effective solutions that help you achieve your goals.
        </p> -->
    </div>
    <div class="values-container">
      <h2>Our Values</h2>
      <div class="value-item">
        <img src="../../assets/icons/value1.svg" alt="Value 1 Icon">
        <h3>Collaboration</h3>
        <p>we're a partner in your success. 
           We believe that the best results come from working together with our clients,
           listening to their needs and ideas, and turning them into successful solutions. 
           We take pride in working with companies that share our commitment to innovation. 
         We believe technology should be accessible to everyone, which is why we offer a wide range of services tailored to meet your unique needs.
         From web design, apps, project management, and beyond, we're here to help your business thrive.
           </p>
      </div>
      <div class="value-item">
        <img src="../../assets/icons/value2.svg" alt="Value 2 Icon">
        <h3>Innovation</h3>
        <p>  At Aporo, we don't just think outside the box - we innovate it. 
          We are always looking for new and creative ways to solve problems, 
          and we embrace emerging technologies to create cutting-edge solutions.     
          This is one of the ways that we help businesses like yours stay ahead of the curve by offering unique 
          and effective solutions.</p>
      </div>
      <div class="value-item">
        <img src="../../assets/icons/value3.svg" alt="Value 3 Icon">
        <h3>Quality</h3>
        <p>We are committed to delivering the highest-quality products, 
          and we take pride in our workmanship, attention to detail, and customer satisfaction.</p>
      </div>
    </div>
    <div class="cta-container value-item">
      <h2>Ready to start your project?</h2>
      <h3> Contact us today to learn more about how we can help your business grow and thrive.</h3>
      <a mat-raised-button color="primary" class="cta-button" click="contact()">Get in touch</a>
    </div>
  </section>
  