<header>
  <nav mat-toolbar>

    <!-- Aporo logo -->
    <div class="logo-container">
      <a routerLink="/" class="logo-link">
        <img [src]="logoUrl" alt="Logo" class="aporo-logo"> <!-- use property binding to set the image source -->
      </a>
      <h1 class="aporo-logo-text">Aporo</h1>
    </div>

    <!-- Hamburger button for dropdown menu -->
    <button mat-icon-button class="navbar-toggler" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button *ngFor="let item of menuItems" [routerLink]="item.link">{{ item.label }}</a>

    <!-- Dropdown menu items -->
    <!-- <div class="dropdown-menu-items" [class.open]="isMenuOpen">  -->
      <!-- use a class binding to toggle the menu visibility -->
      <!-- <a mat-button *ngFor="let item of dropdownItems" [routerLink]="item.link">{{ item.label }}</a> -->
    <!-- </div> -->

    <!-- Search box -->
    <div class="spacer"></div>
    <div class="search-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Search...">
      </mat-form-field>
    </div>

    <!-- Navbar items -->
    <div class="navbar-right">
      <!-- Contact button -->
      <a mat-button class="contact-button" routerLink="/contact">Contact Us</a>
    </div>

  </nav>
</header>
