/* Navbar styles */
$shadow-color: rgba(22, 22, 22, 0.1);
$bg-color: #fff8f8;
$shadow-color: #c9c9c9;
$contact-box-color: #ff5731f0;
$text-color: #333;

header {
  background-color: $bg-color;
  height: 64px;
  box-shadow: $shadow-color;
  display: inline-flex;
  align-items: center;
  float: right;
  height: 100%;
  text-align: right;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 10 24px;

    .ul { 
      height: 100%;
      display: flex;
      width: auto;
    }

    .li { 
      display: flex;
      align-items: center;
      margin: 0;
      height: 65px;
      box-sizing: content-box;
    }

    .logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      // height: 40px;

      .logo-link {
        display: flex;
        align-items: center;

        .aporo-logo {
          height: 40px;
          width: 36px;
          margin-right: 8px;
          margin-left: 1rem;

          .aporo-logo-text {
            color: #414141;
            margin-bottom: 30px;
          }
        }
      }

      .search-container {
        display: flex;
        align-items: center;
        margin-left: 16px;

        .mat-form-field {
          margin-bottom: 0;
        }
      }

      .navbar-right {
        margin-left: auto;

        .menu-items {
          display: flex;
          align-items: center;
          margin-right: 16px;

          a.mat-button {
            color: #494848;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            margin-right: 16px;
            letter-spacing: 0.5px;

            a.mat-button:hover {
              color: #4d4d4d;
            }
          }

          a.contact-button {
            background-color: $contact-box-color;
            color: #ffffff;
            border-radius: 4px;
            padding: 12px 16px;
            font-weight: bold;

            &:hover {
              background-color: rgba(81, 4, 4, 0.942);
            }

            .spacer {
              flex: 1 1 auto;
            }

            .navbar-toggler {
              display: none;
            }

            @media screen and (max-width: 960px) {
              nav {
                flex-wrap: wrap;
              }

              .logo-container,
              .menu-items {
                display: none;
              }

              .navbar-toggler {
                display: block;
              }

              .navbar-right {
                margin-left: auto;
              }

              .search-container {
                flex-basis: 100%;
                margin-left: 0;
              }

              .mat-form-field {
                width: 100%;
              }

              a.mat-button {
                margin: 8px 0;
                display: block;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
